{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
 <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
    <i class="fas fa-cart-arrow-down fa-3x mb-3 i-color"></i>
   <h3>Amazon_Clone</h3>
   <p class="ss-color">Using HTML CSS and Django</p>
   <p>Pure Authentication Based</p>
   <a target="_blank" href="https://github.com/Amansonukumarsah/Amazon-app" class="nav-link bg-success">Source-code</a>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-address-card fa-2x mb-3 i-color"></i>
   <h3>Todo App</h3>
   <p class="ss-color">Using React and Django</p>
   <p class="ss-color">The task given by Company(Name=The Tann Mann foundation</p>
   <a target="_blank" href="https://github.com/Amansonukumarsah/baekendandfrontendof-todo" class="nav-link bg-success">Source-code</a>
  </div>
  <div class="col-sm-4">
    <i class="fas fa-calculator fa-2x mb-3 i-color"></i>
   <h3>Multipurpose App</h3>
   <p class="ss-color">Using React.js</p>
   <p>In this Project we make todo app,Watch,Calculator and so many small things</p>
   <a target="_blank" href="https://github.com/Amansonukumarsah/Multi-purpose-app" class="nav-link bg-success">Source-code</a>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
    <i class="fas fa-landmark fa-2x mb-3 i-color"></i>
   <h3>Loan_Service</h3>
   <p class="ss-color">Using Django HTML and Css</p>
   <a target="_blank" href="https://github.com/Amansonukumarsah/loanservice" class="nav-link bg-success">Source-code</a>
  </div>
  <div class="col-sm-4">
    <i class="fas fa-address-card fa-2x mb-3 i-color"></i>
   <h3>CRUD</h3>
   <p class="ss-color">Using Django HTML CSS</p>
   <a target="_blank" href="https://github.com/Amansonukumarsah/CrudusingDjango" class="nav-link bg-success">Source-code</a>
  </div>
  <div class="col-sm-4">
   <!-- <i class="fas fa-ad "></i> -->
   <i class="fas fa-envelope fa-2x mb-3 i-color"></i>
   <h3>Gmail_Clone(on going) </h3>
   <p class="ss-color">using React.js</p>
   <p>After Sometime i will Upload on the github</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-train fa-2x mb-3 i-color"></i>
   <h3>IRCTC</h3>
   <p class="ss-color">using React and now i am going to connect Django <br> so that i donot upload in the github</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-database fa-2x mb-3 i-color"></i>
   <h3>Portfolio</h3>
   <p class="ss-color">This task is give by comapny(Name=kavie)</p>
   <p>This can be made by using React.js</p>
   <a target="_blank" href="https://github.com/Amansonukumarsah/Portfolio" class="nav-link bg-success">Source-code</a>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-headset fa-2x mb-3 i-color"></i>
   <h3>FemiAuthentication</h3>
   <p class="ss-color">Using Html Css and Django</p>
   <p>The task which is given company(Name=femipilot</p>
   <a target="_blank" href="https://github.com/Amansonukumarsah/femepilotauthentication" class="nav-link bg-success">Source-code</a>
  </div>
  <!-- <div class="col-sm-4">
    <i class="fas fa-headset fa-2x mb-3 i-color"></i>
    <h3>Resume</h3>
    <p class="ss-color">Using Html Css and Django</p>
    <a target="_blank" href="https://github.com/Amansonukumarsah/femepilotauthentication" class="nav-link bg-success">Source-code</a>
   </div>
 </div> -->

</div>
{% endblock content %}